<nav class="bg-indigo-700 shadow-lg p-5">
  <div class="container mx-auto md:flex md:items-center md:justify-between">
    <div>
      <span class="text-2xl">
        <a
          routerLink="/home"
          class="text-white text-3xl font-bold h-10 inline w-auto"
          >GalleryZone</a
        >
      </span>
    </div>
    <ul class="text-gray-400 text-xl md:flex md:items-center">
      <li class="mx-2 my-6 md:my-0">
        <a
          routerLink="/home"
          routerLinkActive="bg-gray-900 text-white"
          class="p-3 text-xl duration-500 hover:text-white rounded-full"
          >Home</a
        >
      </li>
      <li class="mx-2 my-6 md:my-0">
        <a
          routerLink="/photos"
          routerLinkActive="bg-gray-900 text-white"
          class="p-3 text-xl duration-500 relative hover:text-white rounded-full md:after:h-full md:after:-right-4 md:after:top-0 md:after:border-r-2 md:after:border-r-white md:after:absolute"
          >Photo Gallery</a
        >
      </li>
      <li class="mx-2 my-6 md:my-0">
        <a
          *ngIf="!isLogin"
          routerLink="/register"
          routerLinkActive="bg-gray-400 text-white"
          class="p-3 text-xl duration-500 text-black md:ml-4 bg-white rounded-full hover:bg-gray-400 hover:text-white"
          >Register</a
        >
      </li>
      <li class="mx-2 my-6 md:my-0">
        <a
          *ngIf="!isLogin"
          routerLink="/login"
          routerLinkActive="bg-gray-400 text-white"
          class="p-3 text-xl duration-500 text-black bg-white rounded-full hover:bg-gray-400 hover:text-white"
          >Sign in</a
        >
      </li>
      <li class="mx-2 my-6 md:my-0">
        <button
          *ngIf="isLogin"
          routerLinkActive="bg-gray-400 text-white"
          class="p-3 text-xl duration-500 text-black bg-white rounded-full hover:bg-gray-400 hover:text-white"
          (click)="onLogOut()"
        >
          Log Out
        </button>
      </li>
    </ul>
  </div>
</nav>
